*
{
    margin: 0;
    padding: 0;
}
nave{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
align-items: center;
justify-content: space-between;
width: 50;
list-style-type: none;
color: black;
}
nav ul li:hover{
    color: red;
    text-decoration: underline;
}
button{
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 14px;
}
button:hover{
    background-color: blue;
}
.sec-1
{
    background-color: white;
    box-shadow: -3px 13px 14px 18px;
    width: 90%;
    margin:left 40%;
    margin:top 40px;
}
.sec-1 h1{
    font-size: 90px;
}
.subsec-1{
    display:flex;
    align-items: center;
    justify-content: center;
}
.subsec-1 ul li {
list-style-type: none;
}
.subsec-5 image
{
margin-left: 120px;
margin-bottom: 50px;
}
.subsec-2,subsec-3,subsec-4{
display: flex;
align-items: center;
justify-content: center;
}
.subsec-2 ul li,.subsec-3,.subsec-4 ul li{
    list-style-type: none;
}
.main-sec{
    display: flex;
    justify-content: space-between;
}
.main-sec .reduced-img{
    height: 50px;
    width: 50px;

}
.sec-2{
    margin-left: 1px;
    justify-content: center;
}
.seemore button{
    margin: 0 auto;
    display: block;
}
button:hover{
    background-color: blue;
}
.sec-2 h5{
    color: light black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
